.App-header {
  background-color: #097a7a;
  font-size: calc(10px + 2vmin);
  color: antiquewhite;
  border-bottom: 3px solid;
  border-radius: 3px;
  padding: 10px;
}
.loginItem {
  float: right;
  
}
.loginItem a {
  text-decoration: none;
  color: antiquewhite;
}
.loginItem a:hover {
  color: rgb(235, 199, 151);
}
header form {
  display: inline;
  margin-left: 19%;
}
.warningField {
  display: inline;
}